<!DOCTYPE html>
<html>
  <head>
    <title> {+/-}comm | Welcome </title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div>
      <div id="chatbox">
        <p class="botText"><span>Welcome! Please enter your name</span></p>
      </div>
      <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="">
        <!--
        <input id="buttonInput"  type="submit" value="Send"> -->

           <a href="/chat"> <button> Enter </button></a>


      </div>

    </div>
  </body>
</html>
